*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SEMANTIC TAGS PROPERTIES */
header{
    position: sticky;
    max-width: 100%;
}
header nav{
    position: fixed;
    width: 100%;
    background-color: #080B12;
    margin-left: 27px;
}
main{
    background-color: #141922;
    display: flex
}
footer{
    background-color: ;
}
/* UTILITIES */
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.end{
    justify-content: end;
}
.wrapper{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.col{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
/* BUTTON PROPERTIES HEADER */
.end button{
    border: 1px solid white;
    color: white;
    padding: 0.7rem;
    width: 200px;
    border-radius: 20px;
    background-color: #080B12;
    margin: 3%;
    font-size: 0.7rem;
    margin-right: 32px;
}
/* CONTAINER */
.container{
    max-width: 78%;
    margin: 0 auto;
}
/* SIDE-BAR PROPERTIES */
.side-bar{
    height: 100%;
    max-width: 42px;
    background-color: black;
}
.bar-properties img{
    width: 27px;
}
#download-size{
    width: 15px;
    margin-left: 5px;
}
.spacing{
    margin-top: 5px;
}
/* TOP-LINKS PROPERTIES */
.opacity{
    gap: 4px;
}
.margins{
    margin-top: 16%;
}
.opacity h3{
    color: white;
     opacity: 0.5;
     font-size: 0.8rem;
     margin: 15px 0 37px 0;
}
.gap {
    gap: 22px;
}
/* TITLE MARGIN */
.first-title{
    margin-bottom: 30px;
}
/* FOR ALL ELEMENTS */
h3:hover{
    transition: 0.5s;
    text-decoration: underline;
    opacity: 1;
}
h2{
    color: white;
}
/*  ALBUMS PROPERTIES */
.img-container{
    width: calc(100% / 2 - 20px);
}
.img-container img{
    width: 190px;
}
.img-container h3:last-child{
    opacity: 0.5;
    font-size: 0.8rem;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.img-container h3:first-of-type{ 
    color: white;
    text-align: center;
    margin-top: 20px;
}
.flex-gap{
    gap: 30px
}
/* SUGGESTIONS MARGINS AND PROPERTIES */
.sug{
    margin-top: 40px;
}
.sug h4{
    opacity: 0.5;
    color: white;
    margin-bottom: 15px;
    font-size: 0.8rem;
}
/* SUGGESTED ALBUMS PROPERTIES */
.sug-albums{
    gap: 30px;
}
#re-write{
    color: white;
    text-align: center;
    margin-top: 20px;
    opacity: 1;
    font-size: initial;
}
.hide{
    display: none;
}