*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SEMANTIC TAGS PROPERTIES */
body{
    background-color: #141922;
}
header{
    position: sticky;
    max-width: 100%;
}
header nav{
    position: fixed;
    width: 100%;
    background-color: #080B12;
    margin-left: 27px;
}
main{
    display: flex;
    height: calc(100vh - 80px);
    overflow-y: auto;
}
.main-section{
}
footer{
    background-color: ;
}
/* UTILITIES */
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.end{
    justify-content: end;
}
.wrapper{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.col{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
/* BUTTON PROPERTIES HEADER */
.end button{
    border: 1px solid white;
    color: white;
    padding: 0.7rem;
    width: 200px;
    border-radius: 20px;
    background-color: #080B12;
    margin: 3%;
    font-size: 0.7rem;
    margin-right: 32px;
}
/* CONTAINER */
.container{
    max-width: 78%;
    margin: 0 auto;
}
/* SIDE-BAR PROPERTIES */
.side-bar{
    height: 100%;
    max-width: 42px;
    background-color: black;
}
.bar-properties img{
    width: 27px;
}
#download-size{
    width: 15px;
    margin-left: 5px;
}
.spacing{
    margin-top: 5px;
}
/* TOP-LINKS PROPERTIES */
.opacity{
    gap: 4px;
}
.margins{
    margin-top: 16%;
}
.opacity h3{
    color: white;
     opacity: 0.5;
     font-size: 0.8rem;
     margin: 15px 0 37px 0;
}
.gap {
    gap: 22px;
}
/* TITLE MARGIN */
.first-title{
    margin-bottom: 30px;
}
/* FOR ALL ELEMENTS */
/* h3:hover{
    transition: 0.5s;
    text-decoration: underline;
    opacity: 1;
} */
h2{
    color: white;
}
/*  ALBUMS PROPERTIES */
.img-container{
    width: calc(100% / 2 - 20px);
}
.img-container img{
    width: 190px;
}
.img-container h3:last-child{
    opacity: 0.5;
    font-size: 0.8rem;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.img-container h3:first-of-type{ 
    color: white;
    text-align: center;
    margin-top: 20px;
}
.flex-gap{
    gap: 30px
}
/* SUGGESTIONS MARGINS AND PROPERTIES */
.sug{
    margin-top: 40px;
}
.sug h4{
    opacity: 0.5;
    color: white;
    margin-bottom: 15px;
    font-size: 0.8rem;
}
/* SUGGESTED ALBUMS PROPERTIES */
.sug-albums{
    gap: 30px;
}
#re-write{
    color: white;
    text-align: center;
    margin-top: 20px;
    opacity: 1;
    font-size: initial;
}
/* RANDOM */
.hide{
    display: none;
}
/* FOOTER */
footer{
    background-color: #282828;
    height: 80px;
}
.footer-bar img{
    width: 40px;
}
.column{
    flex-direction: column;
}
.flex i{
    color: white;
}
.row2 li{
    list-style: none;
    display: inline;
}
.volume{
    max-width: 72px;
    margin-left: 20px;
}
.actual-volume{
    background-color: #C3C3C3;
    width: 15px;
    height: 4px;
    border-radius: 20px 20px 20px 0 ;
}
.less-volume{
    background-color: #5C5C5C;
    width: 59px;
    height: 4px;
    border-radius: 20px 0px 20px 20px ;
}
.footer-size{
    height: 80px;
}
.show{
    display: none;
    background-color: yellow;
    width: 32px;
    height: 2px;
    position: absolute;
    top: 63%;
    left: 33%;
}
@media screen and (min-width: 481px) and (max-width: 780px) {
    header nav{
        margin-left: 106px;
    }
    .end button{
        margin-right: 111px;
    }
    .side-bar{
        max-width: 307px;
        height: 200%;
        overflow-y: auto;
    }
    .hide {
        display: block;
        padding: 8px;
    }
    .spacing{
        display: flex;
        margin: 10px;
    } 
    .spotify img{
        width: 34px;
    }
    hr{
        margin-left: -19px;
        opacity: 0.5;
        color: white;
    }
    .container{
        flex-wrap: wrap;
        max-width: 100%;
    }
    .img-container {
        width: calc(100% / 4);
    }
    .flex-gap{
        gap: 0;
    }
    .img-container img {
        max-width: 130px;
    }
    .margin-top{
        margin-top: 16%;
    }
    .margins {
        margin: 0;
    }
    .gap{
        gap: 0;
    }
    .opacity{
        gap: 0;
    }
    .space > div h3{
        margin: 17px;
    }
    .position-relative{
        position: relative;
    }
    .position-relative h3{
        text-align: center;
    }
    .position-absolute{
        position: absolute;
    }
    .underline{
        position: relative;
    }
    .underline:hover .show{
        display: block;
        transition: 0.5s;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           \\
    }
    

